<div>
    <p>
        <h1>Hello <i><%= user.name %> </i></h1><br> <br> <p>

            <i>Thank you for registering</i>
            <p>Your email id is: <%= user.email %></p>

        <h3>You had registered to your Personal todolist, login and enjoy it........</h3>

<br>
<br>
<p>
</p>


        </p>
        <br> <br>
        <h2>Thanks!!!</h2>
    </p>
</div>