<!-- 
        <h1>Change your Password</h1>

        <form action="/reset_password/confirmchanging/<%= param %>" method="POST">
            <input type="password" name="password" placeholder="New Password"  required>
            <input type="password" name="Confirmpassword" placeholder="Confirm Password"  required>
            <input type="submit" value="Change Password">
        </form> -->


        <link rel="stylesheet" href="/css/resetpassword.css">


        <div class="box">
            <h2>Change Password</h2>
            <form action="/reset_password/confirmchanging/<%= param %>" method="POST">
              <div class="inputBox">
                <input type="password" name="password" required>
                <label>Password</label>
              </div>
              <div class="inputBox">
                <input type="password" name="Confirmpassword" required>
                <label>Confirm Password</label>
              </div>
              <input type="submit" value="Change Password">
            </form>
          </div>