<div>
    <p>
        <h3>Hi! <%= token.user.name %> <br> <br></h3> <p>
            Had u made a Request in Todolist for changing your password .
            if yes, then .....
            Please click on the link to change the password <a href="https://todo-list00.herokuapp.com/reset_password/<%= token.Token %> ">reset password</a>
            This link will only work for one time .
<br>
<br>
<p>
    If you hadn't request to change the password , please ignore this email and your password will not be change.
    <b>Your account is safe</b>
</p>
         
        </p>
        <br> <br>
        <p>Thanks!!!</p>
    </p>
</div>